<ion-view>
  <ion-content class="background-color-blue-1" scroll="false">
    <div class="jumbotron text-center background-color-inherited">
      <div class="row">
        <div class="col">
          <h1 class="iphone5-landscape-home-page-h1 icon-homepage homepage mb0">
            <!--<i class="icon ion-social-angular-outline font-primary-color"></i>-->
            <!--<i class="icon ion-social-nodejs font-primary-color"></i>-->
            <i class="icon ion-cash font-primary-color"></i>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1 class="color-white iphone5-landscape-home-page-h1 homepage lead">BManager</h1>
          <h1 class="text-center iphone5-landscape-home-page-h1 homepage">
            <small class="no-margin-bottom">votre budget,</small>
            <br class="iphone5-landscape-home-page-display-none">
            <small class="no-margin-top">dans votre poche</small>
          </h1>
        </div>
      </div>
      <div class="row float-bottom responsive-lg height-150">
        <div class="row">
          <div class="col">
            <a ui-sref="signin" class="btn btn-primary btn-lg full-width"><i class="ion-log-in"></i> Connexion</a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a ui-sref="signup" class="btn btn-info btn-lg full-width"><i class="ion-ios-personadd"></i>
              Inscription</a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <i class="icon ion-social-angular-outline font-primary-color"></i>
            <i class="icon ion-social-nodejs font-primary-color"></i>
            <i class="ion-ionic font-primary-color"></i>
            <i class="ion-social-html5-outline font-primary-color"></i>
            <i class="ion-social-javascript-outline font-primary-color"></i>
          </div>
        </div>
      </div>
      <!--<a href="/authenticate/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Connexion via Twitter</a>-->
    </div>
  </ion-content>
</ion-view>
